.footer {
  background-color: #1c1c1c;
  color: #fbfbfb;
  padding: 70px 4% 30px;
}

.footer--bordered {
  border-top: 1px solid #fbfbfb;
}

.footer-content {
  display: grid;
  grid-template-columns: 13% 10% 10% 10% 1fr;
  gap: 110px;
  margin-bottom: 40px;
}

.footer-logo {
  width: 100%;
  height: auto;
}

.footer-nav {
  display: grid;
  grid-template-columns: 13% 1fr 1fr 1fr;
  gap: 40px;
}

.footer-column h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 20px;
  color: #fbfbfb;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 15px;
}

.footer-column ul li a {
  color: #fbfbfb;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s;
}

.footer-column ul li a:hover {
  color: #e4e4e4;
}

.contact-buttons {
  display: flex;
  margin-bottom: 25px;
}

.contact-button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #fbfbfb;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  transition: all 0.3s ease;
}

.footer-column.contacts {
  text-align: end;
  align-items: end;
  display: flex;
  flex-direction: column;
}

.contact-button:hover {
  background-color: #0D4176;
  border: 1px solid #0D4176;
  scale: 1.1;
  color: #1c1c1c;
}

.social-text {
  font-size: 20px;
  margin: 0 0 12px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: #aeaeae;
}

.footer-bottom p {
  margin: 4px 0;
}

@media (max-width: 1200px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .footer-nav {
    grid-template-columns: 1fr;
  }
} 